body {
    font-family: Montserrat;
    font-size: 15px;
}

img {
    max-width: 100%;
}

h1 {
    background: #E5E8F1;
    color: #09235B;
    font-size: 35px;
}

h2 {
    font-family: Nunito;
    
    background: #EEEEEE;
    color: #09235B;
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
    padding: 9px;
}

.direita {
    text-align: right;
}

.sub-titulo {
    color: #324777;
    text-align: center;
    font-size: 15px;
    font-style: normal;
}

.botao1 {
    border: none;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: background .3s;
    border-radius: 5px;
    background-color: rgb(0, 255, 0);
    font-family: Nunito;
}

.botao2 {
    border: none;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: background .3s;
    border-radius: 5px;
    background-color: rgb(60, 109, 216);
    font-family: Nunito;
}

.botao3 {
    border: none;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: background .3s;
    border-radius: 5px;
    background-color: yellow;
    font-family: Nunito;
}

.botao4 {
    border: none;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: background .3s;
    border-radius: 5px;
    background-color: rgb(230, 37, 37);
    font-family: Nunito;
}

.botao5 {
    border: none;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: background .3s;
    border-radius: 5px;
    background-color: green;
    font-family: Nunito;
}

.limitador {
    max-width: 1200px;
    margin: 0px auto;
}
